h2, h3 {
  font-family: 'Press Start 2P', cursive;
}

.main-container {
  background-color: black;
  height: 100vh;
}

#snakeboard {
  background-color: #ba8ced;
  border: solid #53285d 10px;
}

// UTILITIES

.outline-none {
  outline: none !important;
}